@year="2015"

#####################################
# Config for iCalParser
#######################################
@ical_file="/Users/mcormier/Portfolio/GIT/StGeorgeCalendar/data/ical/2015_mar_11.ics"


#####################################
# Config for generateCalender
#######################################
@client_id='blahblahblah'
@client_secret='ssshhhh_its_a_secret'
@calendar="blabblahblah@group.calendar.google.com"



#######################
# TIMEZONE
#######################
# This should be set to the timezone of the Google 
# calendar. Not the timezone of the server generating the HTML.
#
# If the timezone isn't set properly an event
# could show up on two days since the time shift
# puts it on two days. 
#
@timezone = "America/Halifax"

@outputDir="/home/tennis/www/calendar/"


# vim: set syntax=ruby:
#
